<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="false">

  <variable name="logDirectory" value="${var:logdir}\" />

  <variable name="logFile" value="${var:logfilename}" />

  <targets>
    <target xsi:type="File"
            name="fileTarget"
            fileName="${logDirectory}${date:format=yyyyMMdd}_${logFile}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*"
            minlevel="Debug"
            writeTo="fileTarget" />
  </rules>
</nlog>