<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="false"
      autoShutdown="true">

  <variable name="bimtools_logFilePath" value="${var:bimtools_logfilefullname}" />

  <targets>
    <target xsi:type="File"
            name="bimtools_fileTarget"
            fileName="${bimtools_logFilePath}"
            keepFileOpen="true"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="KPLN_BIMTools"
            minlevel="Debug"
            writeTo="bimtools_fileTarget" />
  </rules>
</nlog>