<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="false"
      internalLogFile="c:\temp\nlog-internal.log"
      internalLogLevel="Info"
      autoShutdown="true">

  <variable name="loader_logDirectory" value="${var:loader_logdir}\" />
  <variable name="loader_logFile" value="${var:loader_logfilename}" />

  <variable name="bimtools_logDirectory" value="${var:bimtools_logdir}\" />
  <variable name="bimtools_logFile" value="${var:bimtools_logfilename}" />

  <targets>
    <target xsi:type="File"
            name="loader_fileTarget"
            fileName="${loader_logDirectory}${date:format=yyyyMMdd}_${loader_logFile}.log"
            keepFileOpen="true"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File"
            name="bimtools_fileTarget"
            fileName="${bimtools_logDirectory}${date:format=yyyyMMdd}_${bimtools_logFile}.log"
            keepFileOpen="true"
            concurrentWrites="true"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="KPLN_Loader"
            minlevel="Debug"
            writeTo="loader_fileTarget" />

    <logger name="KPLN_BIMTools"
            minlevel="Debug"
            writeTo="bimtools_fileTarget" />
  </rules>
</nlog>